altgraph
Brotli
certifi
cffi==1.17.1
charset-normalizer
cryptography==45.0.3
idna
macholib
packaging
pyarmor==9.1.7
pyarmor.cli.core==7.6.7
pycparser==2.22
PySocks
PyYAML
requests
setuptools==78.1.1
urllib3
wheel==0.45.1